<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152075283841-unn5dgrprquf74pjns3ri28cuoc1dh50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152075283841-unn5dgrprquf74pjns3ri28cuoc1dh50</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>152075283841-m4q7m08l2rjbi37073ouohv5ckkioq6f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOdnlKE3BvTft8BgLxb_bZx-h88T-P6tc</string>
	<key>GCM_SENDER_ID</key>
	<string>152075283841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ConstructorClient</string>
	<key>PROJECT_ID</key>
	<string>common-health-project</string>
	<key>STORAGE_BUCKET</key>
	<string>common-health-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152075283841:ios:097c0f350e88d2ddcccc80</string>
	<key>DATABASE_URL</key>
	<string>https://common-health-project.firebaseio.com</string>
</dict>
</plist>